<!DOCTYPE HTML>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">

<title>Video Library Management</title>
<link rel="stylesheet" type="text/css" media="all" href="stylesheets/style.css" />
<link rel="stylesheet" type="text/css" href="stylesheets/media-queries.css" />
<link rel="stylesheet" type="text/css" href="js/player/mediaelementplayer.css" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300italic,300,700,700italic|Open+Sans+Condensed:300,700' rel="stylesheet" type='text/css'>
<!--[if IE 8]>
<link rel="stylesheet" type="text/css" href="stylesheets/ie8.css" media="all" />
<![endif]-->
<!--[if IE 9]>
<link rel="stylesheet" type="text/css" href="stylesheets/ie9.css" media="all" />
<![endif]-->
<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="js/ddsmoothmenu.js"></script>
<script type="text/javascript" src="js/retina.js"></script>
<script type="text/javascript" src="js/selectnav.js"></script>
<script type="text/javascript" src="js/jquery.masonry.min.js"></script>
<script type="text/javascript" src="js/jquery.fitvids.js"></script>
<script type="text/javascript" src="js/jquery.backstretch.min.js"></script>
<script type="text/javascript" src="js/mediaelement.min.js"></script>
<script type="text/javascript" src="js/mediaelementplayer.min.js"></script>
<script type="text/javascript">
	$.backstretch("images/bg/1.jpg");
</script>
			<script type="text/javascript">
			function validate()
			{
 
			   if( document.getElementById('first_name').value == "" )
			   {
			     alert( "Please provide your first name!" );
			     document.myForm.first_name.focus() ;
			     return false;
			   }
			    if( document.getElementById('last_name').value == "" )
			   {
			     alert( "Please provide your last name!" );
			     document.myForm.last_name.focus() ;
			     return false;
			   }
			    if( document.getElementById('email').value == "" )
			   {
			     alert( "Please provide your email!" );
			     document.myForm.email.focus() ;
			     return false;
			   }
			     var emailID = document.forms["myForm"]["email"].value;
			    atpos = emailID.indexOf("@");
			    dotpos = emailID.lastIndexOf(".");
			    if (atpos < 1 || ( dotpos - atpos < 2 ))
			    {
			        alert("Please enter correct email ID")
			        return false;
    			}
    			if( document.getElementById('street').value == "" )
			   {
			     alert( "Please provide your street!" );d
			     document.myForm.street.focus() ;
			     return false;
			   }
    			if( document.getElementById('city').value == "" )
			   {
			     alert( "Please provide your city!" );
			     document.myForm.city.focus() ;
			     return false;
			   }
			   if( document.getElementById('zipcode').value == "" )
			   {
			     alert( "Please provide your zipcode!" );
			     document.myForm.city.focus() ;
			     return false;
			   }
			   
    			 }
			     
               
    

			
				   </script>
</head>
<body class="single">
<div class="scanlines"></div>

<!-- Begin Header -->
<div class="header-wrapper opacity">
	<div class="header">
		<!-- Begin Logo -->
		<div class="logo">
		    <a href="index.ejs">
				<img src="images/logo.png" alt="" />
			</a>
	    </div>
		<!-- End Logo -->
		<!-- Begin Menu -->
		<div id="menu-wrapper">
			<div id="menu" class="menu">
				<ul id="tiny">
				<li class="active">
				<a href="index">Home</a>  </li>
				</ul>
			</div>
		</div>
		<div class="clear"></div>
		<!-- End Menu -->
	</div>
</div>
<!-- End Header -->

<!-- Begin Wrapper -->
<div class="wrapper"><!-- Begin Intro -->
<div class="intro"> VIDEO LIBRARY MANAGEMENT SYSTEM </div>
<ul class="social">
<li><a class="rss" href="#"></a></li><li><a class="facebook" href="#"></a></li><li><a class="twitter" href="#"></a></li><li><a class="pinterest" href="#"></a></li><li><a class="dribbble" href="#"></a></li><li><a class="flickr" href="#"></a></li><li><a class="linkedin" href="#"></a></li></ul><!-- End Intro --> 


<!-- Begin Container -->
<div class="content">

		<!-- Begin Post -->			
		
			<div class="post format-quote box"> 
			<h1 class="title">Admin Login</h1>
            <% if(typeof error_message !== 'undefined') { %>
         	<div class="warning-box"><%= error_message %></div>
        	 <% } %>
            <form action="/validate" method="post" id="adminlogin" name="adminlogin"  onsubmit="return validate()">
			<label>Membership id:</label> <input type = "text" placeholder ="Membership id" name="uid" id="email" required />
			<label>Password: </label> <input type=  "password"  name="password"  id="password" required/>  <br> <br> 
			<input type="submit" name="submit" value="Login"/>
		    </form>
			<p>Note: Please make sure your details are correct before submitting form and that all fields marked with * are completed!.</p>
			</div>	

</div>
<!-- End Container -->

<!-- Begin Sidebar -->
<div class="sidebar box">
  <div class="sidebox widget">
			<h3 class="widget-title">Upcoming Movies</h3>
			<ul class="post-list">
			  	<li> 
			  		<div class="frame">
			  			<a href="#"><img src="images/art/spiderman.jpg" /></a>
			  		</div>
					<div class="meta">
					    <!--<h6><a href="#">Spider-Man 2</a></h6>
					    <em>28th Sep 2012</em>-->
				    </div>
				</li>
				
				<li> 
			  		<div class="frame">
			  			<a href="#"><img src="images/art/hh.jpg" /></a>
			  		</div>
					<div class="meta">
					    <h6><a href="#">Morning Glor</a></h6>
					    <em>26th Sep 2012</em>
				    </div>
				</li>
			</ul>
			
	</div>	
</div>
<!--End Sidebar -->
<div class="clear"></div>

</div>
<!-- End Wrapper -->

<!-- Begin Footer -->
<div class="footer-wrapper">
<div id="footer" class="four">
		<div id="first" class="widget-area">
			<div class="widget widget_search">
				<h3 class="widget-title">Search</h3>
				<form class="searchform" method="get" action="#">
					<input type="text" name="s" value="type and hit enter" onFocus="this.value=''" onBlur="this.value='type and hit enter'"/>
				</form>
			</div>
			<div class="widget widget_archive">
				<h3 class="widget-title">Archives</h3>
				<ul>
					<li><a href="#">September 2012</a> (6)</li>
					<li><a href="#">August 2012</a> (2)</li>
					<li><a href="#">July 2012</a> (2)</li>
					<li><a href="#">June 2012</a> (4)</li>
					<li><a href="#">May 2012</a> (3)</li>
					<li><a href="#">January 2012</a> (1)</li>
				</ul>
			</div>	
		</div><!-- #first .widget-area -->
	
		<div id="second" class="widget-area">
			<div id="twitter-2" class="widget widget_twitter">
					<h3 class="widget-title">Twitter</h3>
					
					<div id="twitter-wrapper">
						<div id="twitter"></div>
						<span class="username"><a href="http://twitter.com/elemisdesign">→ Follow @elemisdesign</a></span>
					</div>
			</div>
		</div><!-- #second .widget-area -->
	
		<div id="third" class="widget-area">
		<div id="example-widget-3" class="widget example">
			<h3 class="widget-title">Popular Posts</h3>
			<ul class="post-list">
			  	<li> 
			  		<div class="frame">
			  			<a href="#"><img src="images/art/s1.jpg" /></a>
			  		</div>
					<div class="meta">
					    <h6><a href="#">Charming Winter</a></h6>
					    <em>28th Sep 2012</em>
				    </div>
				</li>
				<li> 
			  		<div class="frame">
			  			<a href="#"><img src="images/art/s2.jpg" /></a>
			  		</div>
					<div class="meta">
					    <h6><a href="#">Trickling Stream</a></h6>
					    <em>5th Sep 2012</em>
				    </div>
				</li>
				<li> 
			  		<div class="frame">
			  			<!--<a href="#"><img src="images/art/register.jpg" /></a>
			  		</div>
					<div class="meta">
					    <!-- <h6><a href="#">Morning Glory</a></h6> -->
					    <!-- <em>26th Sep 2012</em> -->	
				    </div>
				</li>
			</ul>
			
		</div>
		</div><!-- #third .widget-area -->
		
		<div id="fourth" class="widget-area">
		<div class="widget">
			<h3 class="widget-title">Flickr</h3>
			<ul class="flickr-feed"></ul>
			
		</div>
		</div><!-- #fourth .widget-area -->
	</div>
</div>
<div class="site-generator-wrapper">
	<div class="site-generator">Copyright Obscura 2012. Design by <a href="http://elemisfreebies.com">elemis</a>. All rights reserved.</div>
</div>
<!-- End Footer --> 
<script type="text/javascript" src="js/scripts.js"></script>
</body>
</html>