<!DOCTYPE HTML>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<title>Video Library Management</title>
<link rel="stylesheet" type="text/css" media="all" href="http://localhost:4400/stylesheets/style.css" />
<link rel="stylesheet" type="text/css" href="http://localhost:4400/stylesheets/media-queries.css" />
<link rel="stylesheet" type="text/css" href="http://localhost:4400/js/player/mediaelementplayer.css" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300italic,300,700,700italic|Open+Sans+Condensed:300,700' rel="stylesheet" type='text/css'>
<!--[if IE 8]>
<link rel="stylesheet" type="text/css" href="http://localhost:4400/stylesheets/ie8.css" media="all" />
<![endif]-->
<!--[if IE 9]>
<link rel="stylesheet" type="text/css" href="http://localhost:4400/stylesheets/ie9.css" media="all" />
<![endif]-->
<style>
.button {
    display: block;
    height: 30px;
    width: 120px;
    background: #8099B2;
    border: 2px solid #DBDBDB;
    text-align: center;
    border-radius: 50px;  
    float:left;
}
</style>
<script type="text/javascript" src="http://localhost:4400/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="http://localhost:4400/js/ddsmoothmenu.js"></script>
<script type="text/javascript" src="http://localhost:4400/js/retina.js"></script>
<script type="text/javascript" src="http://localhost:4400/js/selectnav.js"></script>
<script type="text/javascript" src="http://localhost:4400/js/jquery.masonry.min.js"></script>
<script type="text/javascript" src="http://localhost:4400/js/jquery.fitvids.js"></script>
<script type="text/javascript" src="http://localhost:4400/js/jquery.backstretch.min.js"></script>
<script type="text/javascript" src="http://localhost:4400/js/mediaelement.min.js"></script>
<script type="text/javascript" src="http://localhost:4400/js/mediaelementplayer.min.js"></script>
<script type="text/javascript" src="http://localhost:4400/js/jquery.dcflickr.1.0.js"></script>
<script type="text/javascript" src="http://localhost:4400/js/twitter.min.js"></script>
<script type="text/javascript" src="http://localhost:4400/js/oneSimpleTablePaging-1.0.js"></script>


<script type="text/javascript">
	$.backstretch("http://localhost:4400/images/bg/1.jpg");
</script>
<script>
(function(document) {
	'use strict';

	var LightTableFilter = (function(Arr) {

		var _input;

		function _onInputEvent(e) {
			_input = e.target;
			var tables = document.getElementsByClassName(_input.getAttribute('data-table'));
			Arr.forEach.call(tables, function(table) {
				Arr.forEach.call(table.tBodies, function(tbody) {
					Arr.forEach.call(tbody.rows, _filter);
				});
			});
		}

		function _filter(row) {
			var text = row.textContent.toLowerCase(), val = _input.value.toLowerCase();
			row.style.display = text.indexOf(val) === -1 ? 'none' : 'table-row';
		}

		return {
			init: function() {
				var inputs = document.getElementsByClassName('light-table-filter');
				Arr.forEach.call(inputs, function(input) {
					input.oninput = _onInputEvent;
				});
			}
		};
	})(Array.prototype);

	document.addEventListener('readystatechange', function() {
		if (document.readyState === 'complete') {
			LightTableFilter.init();
		}
	});

})(document);
</script>

</head>
<body>
<div class="scanlines"></div>

<!-- Begin Header -->
<div class="header-wrapper opacity">
	<div class="header">
		<!-- Begin Logo -->
		<div class="logo">
		    <a href="index.ejs">
				<img src="http://localhost:4400/images/logo.png" alt="" />
			</a>
	    </div>
		<!-- End Logo -->
		<!-- Begin Menu -->
		<div id="menu-wrapper">
			<div id="menu" class="menu">
				<ul id="tiny">
				<li class="active">
				<a href="admin_home">Home</a> </li>
				<li><a href="userreg">Register New User </a></li>
				<li><a href="/registermovie">Register New Movie </a></li>
				
				
				<% if (typeof admin_fname != 'undefined') { %>
					<li><a href="/logout">Logout</a></li>
				<% } else { %>
				<% } %>
				
						
				</ul>
			</div>
		</div>
		<div class="clear"></div>
		<!-- End Menu -->
		</div>
		</div>
	
<!-- End Header -->
<!-- Begin Wrapper -->
<div class="wrapper"><!-- Begin Intro -->
<div class="intro"> VIDEO LIBRARY MANAGEMENT SYSTEM </div>
 

<div class="blog-grid">
<div class="container" align="center">

	<table border="0" cellpadding="0" cellspacing="0">
	<tr>
	<td>
	</td>
	</tr>
	<table width="100%">
			<tr>
				<td colspan="5">
				<input type="search" class="light-table-filter" data-table="order-table" placeholder="Filter">
				</td>
			</tr>
	</table>
	<tr><td>
	
	
	<table class="order-table table" style="margin:0;" id="rounded-corner">
		<thead>
			<tr>
				<th>  Membership ID </th>
				<th>  First Name </th>
				<th>  Last Name </th> 
				<th>  Type_of_user </th>
			</tr>
		</thead>
		<tbody>
			<% for(var i in users){%>
			<tr>
				<td> <%= users[i].user_id %> </td>
				<td> <%= users[i].first_name %> </td> 
				<td> <%= users[i].last_name %> </td> 
				<td> <%= users[i].type_of_user %> </td>
			</tr>	
			<% } %> 
	</tbody>
	</table>
	</td></tr>
	
	</table>
</div>
</div>

<script type="text/javascript" src="http://localhost:4400/js/scripts.js"></script>
</body>
</html>
